
body {
    background-image: url('../Assets/keith-misner-h0Vxgz5tyXA-unsplash.jpg');
    scroll-behavior: smooth;
      font-family: "Alan Sans", sans-serif;
}


.hero-icon {
  width: 40vw;
  padding: 2px;
  height: auto;}
