:root {
	--sepia: #7d5d53;
	--hairline-rule: rgba(56, 57, 46, 0.2);
}

a {
	color: inherit;
	text-decoration-color: var(--hairline-rule);
	text-underline-offset: 4px;
	transition: all 0.2s ease;
}

a:hover {
	text-decoration-color: #38392e;
}
